<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-6">
      <img src="{{(teamToDisplay | async)?.photo}}"/>
    </div>
    <div class="col-md-6">
      <h2>{{(teamToDisplay | async)?.name}}</h2>
      <p><strong>Rank:</strong> {{(teamToDisplay | async)?.rank}}</p>
      <p><strong>Location:</strong> {{(teamToDisplay | async)?.location}}</p>
      <p><strong>Team Color:</strong> {{(teamToDisplay | async)?.teamColor}}</p>
      <p><strong>Number of Players:</strong> {{(teamToDisplay | async)?.numberOfPlayers}}</p>
      <p><strong>Description:</strong> {{(teamToDisplay | async)?.description}}</p>
    </div>
  </div>
</div>
