/* You can add global styles to this file, and also import other style files */
img {
  height: 200px !important;
  width: 200px;
}
.img-responsive {
  margin: 0 auto;
}
.jumbotron {
  text-align: center;
  margin-bottom: 0 !important;
}
