<select class="form-control" (change)="onChange($event.target.value)">
  <option value="1">Rank: 1</option>
  <option value="2">Rank: 2</option>
  <option value="3">Rank: 3</option>
  <option value="4">Rank: 4</option>
  <option value="5">Rank: 5</option>
  <option value="6">Rank: 6</option>
  <option value="all" selected>All Teams</option>
</select>
<br>
<div *ngFor="let team of teams | async | rank:filterBy" class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-6">
      <img class="img-circle img-responsive" src="{{team.logo}}"/>
      <br>
    </div>
    <div class="col-md-6">
      <h2>{{team.name}}</h2>
      <p><strong>Rank:</strong> {{team.rank}}</p>
      <p><strong>Location:</strong> {{team.location}}</p>
      <p><strong>Team Color:</strong> {{team.teamColor}}</p>
      <button (click)="goToTeamDetail(team)" class="btn btn-danger">Click Here to See More Details</button>
      <br>
      <br>
      <div *ngIf="currentRoute === '/admin'">
        <app-edit-team [selectedTeam]="team"></app-edit-team>
      </div>
    </div>
  </div>
</div>
